@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url("image.jpg");
    background-size:cover;
    background-attachment: fixed;
    height: 100%;
}
header , main{
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background-color: rgb(93, 150, 116);
}
main{
    background-color: aliceblue;
    padding: 20px;
}
#description{
    padding: 10px 0px 20px 0px;
}
.col-left label{
    padding-top: 5px;
    display: block;
}
.col-right{
    text-align: left;
}
.col-right p{
    display: flex;
}
div {
    width: 50%;
    padding: 0 10px 20px 0;
  }
@media(max-width:580px){
    div {
        width: 100%;
        text-align: left;
    }
}
@media(main-width:580px){
    .col-left{
        text-align: right;
    }
}
form{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px auto;
}
input, select, textarea, #submit{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(78, 3, 3);
    font-family: sans-serif;
    font-size: 0.9em;
}
select{
    height: 32px;
    background-color: rgb(211, 201, 189);
}
input[type="checkbox"], input[type="radio"] {
    margin: 6px 6px 0px 6px;
    max-width: 20px;
}
#submit{
    width: 50%;
    margin: auto;
    background-color: rgb(134, 23, 23);
    color: aliceblue;
    font-weight: bolder;
    border: 1px;
    border-color: rgb(223, 80, 80);
}